* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  background: #f4fdf4;
  color: #333;
}

header {
  background: linear-gradient(135deg, #4CAF50, #2E7D32);
  color: white;
  padding: 2rem;
  text-align: center;
}

.imagem {
  display: flex;
  align-items: center;
  gap: 20px;
}

.imagem {
  width: 300px;
  border-radius: 10px;
}


.imagem3 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.imagem3{
  width: 300px;
  border-radius: 10px;
}




header h1 {
  font-size: 2.5rem;
}

header p {
  font-size: 1.2rem;
}

section {
  padding: 2rem;
  max-width: 900px;
  margin: auto;
}

section h2 {
  color: #2E7D32;
  margin-bottom: 1rem;
}



section p {
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

ul {
  padding-left: 1.5rem;
  list-style: square;
  color: #555;
}

.rural {
  background-color: #e8f5e9;
  border-left: 5px solid #66BB6A;
  margin-bottom: 2rem;
  border-radius: 8px;
}

.urbana {
  background-color: #e3f2fd;
  border-left: 5px solid #42A5F5;
  border-radius: 8px;
}

footer {
  background-color: #2E7D32;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  font-size: 0.9rem;
  
}